<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workout Pro - Documentation</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon_io/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon_io/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon_io/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon_io/site.webmanifest" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="/js/theme.js" defer></script>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container my-5">
      <h1 class="display-4 mb-4">Workout Pro</h1>

      <section class="mb-5">
        <h2>Description</h2>
        <p class="lead">
          Workout Pro is a comprehensive workout planning application designed
          to help users create personalized workout plans based on their fitness
          goals, available time, and preferences. With an intuitive interface
          and robust backend, Workout Pro simplifies the process of setting up
          and following a workout routine, making it easier for users to stay
          motivated and achieve their fitness objectives.
        </p>
      </section>

      <%- include('../partials/project-carousel', {
        images: [
          { src: '/images/workout-pro/workout-pro1.png', alt: 'Workout Pro Home Page' },
          { src: '/images/workout-pro/workout-pro2.png', alt: 'Workout Plan Creation' },
          { src: '/images/workout-pro/workout-pro4.png', alt: 'Create Workout Plan' },
          { src: '/images/workout-pro/workout-pro3.png', alt: 'Track Workout' },
          { src: '/images/workout-pro/workout-pro8.png', alt: 'Track Progress' },
          { src: '/images/workout-pro/workout-pro6.png', alt: 'View Past Workout Plans' },
          { src: '/images/workout-pro/workout-pro7.png', alt: 'Chat with AI' },
          { src: '/images/workout-pro/workout-pro5.png', alt: 'Settings Page' }
        ]
      }) %>

      <section class="mb-5">
        <h2>Usage</h2>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Getting Started</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="iconify me-2" data-icon="mdi:account-plus"></span
                >Sign Up: Create an account by providing your username, email,
                and password.
              </li>
              <li class="list-group-item">
                <span class="iconify me-2" data-icon="mdi:login"></span>Login:
                Use your credentials to log in.
              </li>
              <li class="list-group-item">
                <span class="iconify me-2" data-icon="mdi:playlist-plus"></span
                >Create a Workout Plan: Answer a series of questions to generate
                a personalized workout plan.
              </li>
              <li class="list-group-item">
                <span class="iconify me-2" data-icon="mdi:eye"></span>View Your
                Plan: Access your latest workout plan on the home page.
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="mb-5">
        <h2>Features</h2>
        <ul class="list-group">
          <li class="list-group-item">
            Personalized workout plans based on fitness goals and preferences
          </li>
          <li class="list-group-item">
            Intuitive interface for easy navigation
          </li>
          <li class="list-group-item">
            Robust backend for efficient data management
          </li>
        </ul>
      </section>

      <section class="mb-5">
        <h2>Credits</h2>
        <div class="row">
          <div class="col-md-6">
            <h3 class="h4">Libraries Used</h3>
            <ul class="list-group">
              <li class="list-group-item">
                <a href="https://expressjs.com/" class="text-decoration-none"
                  >Express</a
                >
              </li>
              <li class="list-group-item">
                <a href="https://mongoosejs.com/" class="text-decoration-none"
                  >Mongoose</a
                >
              </li>
              <li class="list-group-item">
                <a
                  href="http://www.passportjs.org/"
                  class="text-decoration-none"
                  >Passport</a
                >
              </li>
              <li class="list-group-item">
                <a href="https://beta.openai.com/" class="text-decoration-none"
                  >OpenAI API</a
                >
              </li>
              <li class="list-group-item">
                <a
                  href="https://www.npmjs.com/package/bcrypt"
                  class="text-decoration-none"
                  >Bcrypt</a
                >
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="mb-5">
        <h2>Contact Information</h2>
        <div class="card">
          <div class="card-body">
            <p class="card-text">
              For any questions, suggestions, or issues, feel free to reach out:
            </p>
            <ul class="list-unstyled">
              <li>
                <span class="iconify me-2" data-icon="mdi:email"></span>Email:
                <a href="mailto:grantledbetter12@gmail.com"
                  >grantledbetter12@gmail.com</a
                >
              </li>
              <li>
                <span class="iconify me-2" data-icon="mdi:github"></span>GitHub:
                <a href="https://github.com/psutinboy">psutinboy</a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <div class="container">
      <div class="d-flex align-items-center gap-3">
        <%- include('../partials/github-button', {
          link: 'https://github.com/psutinboy/workout-pro'
        }) %>
        <%- include('../partials/toworkoutpro', {
          projectLink: 'http://workoutpro.org'
        }) %>
      </div>
    </div>

    <%- include('../partials/footer') %>
  </body>
</html>
